@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Unbounded&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Unbounded';
    color: #2C2B27 ;
}

.main {
    font-size: larger;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #F2EADE;
}

nav {
    display: flex;
    font-size: smaller;
    width: 90%;
    margin: auto;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}

.navbox {
    border-bottom: 3px solid #2C2B27;
    background-color: #F2EADE;
}

nav h1 {
    font-family: 'Dela Gothic One';
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    background-color: #F2EADE;
    border: 2px solid #2C2B27;
    padding: 0 5px 0 5px;
    border-radius: 30px;
    box-shadow: 3px 3px #2C2B27;
}

nav ul li img {
    height: 15px;
    padding-top: 15px;
}

.hero {
    height: 90%;
    display: flex;
    margin: auto;
    width: 90%;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero .left {
    background-color: #A7DBD8;
    border-radius: 50px;
    padding: 8px;
    margin: auto;
    height: 500px;
    width: 330px;
    border: 3px solid #2C2B27;
    box-shadow: 8px 8px #2C2B27;
}

.hero .left .box1 h1{
    text-align: center;
    font-family: 'Dela Gothic One';
}

.hero .left .box2 {
    background-color: #F2EADE;
    margin: 10px 2px 2px 2px;
    height: 85%;
    border-radius: 50px;
    border: 3px solid #2C2B27;
}

.hero .left .box2 .listbox {
    font-family: 'Dela Gothic One';
    font-size: small;
    padding: 20px;
    margin-top: 20px;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hero .left .box2 .listbox a {
    text-decoration: none;
}

.hero .left .box2 .listbox .profile {
    background-color: #90EE90;
    border: 2px solid #2C2B27;
    padding: 15px 90px 15px 90px;
    border-radius: 30px;
    box-shadow: 7px 7px #2C2B27;
    transition: box-shadow 1s;
}

.hero .left .box2 .listbox .hometown {
    background-color: #FF7A5C;
    border: 2px solid #2C2B27;
    padding: 15px 65px 15px 65px;
    border-radius: 30px;
    box-shadow: 7px 7px #2C2B27;
    transition: box-shadow 1s;
}

.hero .left .box2 .listbox .food {
    background-color: #FFB2EF;
    border: 2px solid #2C2B27;
    padding: 15px 100px 15px 100px;
    border-radius: 30px;
    box-shadow: 7px 7px #2C2B27;
    transition: box-shadow 1s;
}

.hero .left .box2 .listbox .tourist {
    background-color: #A388EE;
    border: 2px solid #2C2B27;
    padding: 15px 90px 15px 90px;
    border-radius: 30px;
    box-shadow: 7px 7px #2C2B27;
    transition: box-shadow 1s;
}

.hero .right {
    padding: 20px;
    margin: auto;
    height: 400px;
    width: 800px;
}

.hero .right .header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 65%;
    align-items: center;
}

.hero .right .header .first{
    padding-top: 30px;
    font-size: 128%;
}

.hero .right .header .second{
    background-color: #FFDB58;
    padding: 5px 30px 5px 30px;
    border-radius: 50px;
    box-shadow: 9px 8px #2C2B27;
}

.hero .right .header .second h2 {
    font-family: 'Dela Gothic One';
}

.hero .right .header .third{
    padding-top: 30px;
    padding-left: 15px;
    font-size: 128%;
}

.hero .right .desc {
    margin-top: 100px;
    padding: 10px;
    border: 3px solid #2C2B27;
    z-index: 5;
}

.hero .right .shadow1{
    height: 50px;
    width: 95%;
    background-color: #DAF5F0;
    align-items: center;
    margin: auto;
    border-left: 3px solid #2C2B27;
    border-right: 3px solid #2C2B27;
    border-bottom: 3px solid #2C2B27;
    opacity: 75%;
}

.hero .right .shadow2{
    height: 45px;
    width: 90%;
    background-color: #DAF5F0;
    align-items: center;
    margin: auto;
    border-left: 3px solid #2C2B27;
    border-right: 3px solid #2C2B27;
    border-bottom: 3px solid #2C2B27;                                     
    opacity: 50%;
}

.hero .right .shadow3{
    height: 40px;
    width: 85%;
    background-color: #DAF5F0;
    align-items: center;
    margin: auto;
    border-left: 3px solid #2C2B27;
    border-right: 3px solid #2C2B27;
    border-bottom: 3px solid #2C2B27;
    opacity: 25%;
}

.hero .left .box2 .listbox a> :hover {
    box-shadow: 12px 12px #B5D2AD;
}

